node_modules
target
dist
logs
public
.cache
.vscode
.DS_Store
.idea
.next
yarn-error.log
npm-debug.log
_pycache_
Telegram_Bot/db
Telegram_Bot/__pycache__/db.cpython-312.pyc
Telegram_Bot/__pycache__/ordermodel.cpython-312.pyc
Telegram_Bot/__pycache__/keyboards.cpython-312.pyc
dist